@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*=========Landing Page - Hero Section ===============*/
.banner
{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 0px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index:2;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size:3rem;
}

header .logo span {
    color:rgb(226, 24, 24);
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(../imgs/toggle.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(../imgs/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.banner.active
{
  right: 300px;
}
.banner:before {
    content: "";
    position:absolute;
    right:0;
    top:0;
    width:400px;
    height:100%;
    background:red;
    transform-origin: top;
    transform:skewX(-25deg);
    z-index:1;

}
.banner .imgbox {
    
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vh;
    z-index:2;
}
.banner .imgbox img{
    position:absolute;
    bottom: 0;
    height:90vh;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #00f, #f00);
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}
.text h2
{
  font-size: 3em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  position: relative;
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  color: #fff;
}
.text a 
{
  display: inline-block;
  font-size: 1.1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition:0.5s ease-in-out;
}

.text a:hover{
    background: #00f;
    color:#fff;
}
.sci
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
}
.sci li
{
  list-style: none;
}
.sci li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
}
.icon {
    color:#000;
}
.icon:hover{
    color:rgb(253, 250, 59);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  position: relative;
  list-style: none;
  text-align: center;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 2rem;
  color: #111;
}
/*==========End of Landing Page and Hero Section============ */


/*============= Smart - Text Heading=========================*/
#smarttext{
    position:relative;
    align-items: center;
    justify-content: center;
    padding-top:50px;
   background-color: #f5f5f5 ;
   padding: 8em 0;
   z-index:3;

}

.title{
    text-align: center;
    display:grid;
}
.title h1 {
  font-size:7rem;
}
.title h3 {
    font-size:5rem;
    color:#fff;
}

/*==========End of Smart Text Heading================================*/

/*==================Services Section================================*/
.services-title{
  font-size: 3rem;
  text-align:center;
  justify-content: center;
  padding: 4rem 0;
  color:#000;
}
.services{
  height:28rem;
  background:#fff!important;
  margin:3rem 2rem 4rem 2rem;
  display:flex;

}
.col {
  position:relative;
  height:100%;
  flex:1;
  color:#fff;
  box-sizing: border-box;
  padding:10px;
  align-items: center;
  align-content: center;
  transition:0.6s;
}
.col:nth-child(1){
  background:#283491;
}
.col:nth-child(2){
  background:#f18684;
}
.col:nth-child(3){
  background:#6ee2f1;
}
.col h2 {
  text-align:center;
  font-size:3rem;
  font-weight:bold;
}
.caption p {
  font-size:1.4rem;
}
.caption{
  width:70%;
  font: size 0.8rem;
  margin:28px 0;
  display:none;
}
.col img{
  width:10rem;
  position:absolute;
  right:0;
  bottom:0;
}
.col:hover{
  flex-grow: 2.5;
}
.col:hover .caption{
  display:block;
}
.col:hover h2{
  text-align: left;
}
/*======================End Of Services Section===============*/
/*=======================About Section=======================*/
#about{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(0 0 0);
    z-index:3;
    
}
#about h1{
  font-size:2.5rem;
}
#about p {
  font-size:2rem;
}
#about img {
    width:100%;
    height:100%;
}

.about-text {
    position: relative;
    color: #fff;
    font-weight: bold;
    padding:1rem;
    align-self:center;
}
.about-text span {
    color:red;
}

.button {
    display: inline-block;
  font-size: 1rem;
  background: rgba(250, 8, 8, 0.849);
  padding: 10px 10px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 0px 10px 0px;
  color: #fff;
  letter-spacing: 2px;
}
.button:hover {
    background-color: rgba(255, 0, 0, 0.788);
    color:#fff;
}
/*=======================End Of About Section=======================*/

/*========================Trening Section==========================*/

#training {
  background-color: rgb(226, 24, 24);
  padding:4em 0;
}
.trening .content{
-webkit-display:flex;
display:flex;
}
.trening-title{
  font-size:3rem;
  color:#fff;
  text-align:center;
  padding-bottom:2em;
}
.trening .content .box{
  flex:0 0 33.33%;
  max-width:33.33%;
  padding: 15px;
}
.trening .content .box .inner{
  background-color:#222222;
}
.trening .content .box:nth-child(2) .inner{
  background-color:#c11325;
}
.trening .content .box .inner .img img{
  width:100%;
}
.trening .content .box .inner .texty {
  padding:31px;
}
.trening h4 {
  font-size:1.5rem;
  margin:0;
  padding:0px 0px 15px;
  font-weight: 500;
  color:#fff;
  text-transform:capitalize;
  text-align:center;
}
.trening p{
  font-size:1.3rem;
  line-height:20px;
  color:#fff;
  text-align:center;
  margin:0;
  
}

/*========================End Of Trening Section==========================*/





/*=======================Dieta & Physioterapi Section==========================*/
.massage-row , .diet-row{
  display:grid;
  grid-template-columns: 1fr 1fr ;
  grid-auto-rows: min-content 300px;
  justify-content: center;

}

.massage-col1{
  background:#fff;
  color:grey;
  padding:1.5rem;
  text-align:center;
  position:relative;
  align-self:center;
}
.massage-col1 h2, .diet-col2 h2{
  font-size:2.5rem;
}
.massage-col1 p, .diet-col2 p{
  font-size:1.5rem;
}
.diet-row{
  background:#000;
}
.diet-col2{
  color:rgb(165, 141, 5);
  padding:1.5rem;
  text-align:center;
  position:relative;
  align-self: center;
}


.massage-col2 img , .diet-col1 img{
  width:100%;
  height:100%
}
/*=======================End Of Dieta & Physioterapi Section==========================*/

/*=======================Gallery Section==========================*/
.gallery{
  background: #222222;
}
.gallery-title {
  color:#fff;
  text-align: center;
  font-size:3rem;
  padding: 2em 0;
}
.gallery .content{
  display:flex;
  flex-wrap: wrap;
}
.gallery .content .box{
  flex:0 0 50%;
  max-width:50%;
}
.gallery .content .box img{
  display:block;
  width:100%;
  filter:grayscale(100%);
  transition: all .5s ease;

}
.gallery .content .box img:hover{
  -webkit-filter:grayscale(0%);
  filter:grayscale(0%);

}
/*=======================End Of Gallery Section==========================*/

/*=======================Pricing Section==========================*/
.price-package{
  background-color:#fff;
  
}
.price-package h2 {
  font-size:3rem;
  color:#000;
  padding:2em 0;
  text-align:center;
}
.price-package .title-p{
  font-size:0.8rem;
  line-height:20px;
  color:#222222;
  margin:0;
  text-align: center;
  padding:0 20% 50px;
}
.price-package .content{
  -webkit-display:flex;
  display:flex;
}
.price-package .content .box{
  flex:0 0 33.33%;
  max-width:33.33%;
  padding:15px;
}
.price-package .content .box .inner{
  height:100%;
  color:#fff;
  background:rgb(30 85 250 / 47%);
}
.price-package .content .box .inner .price-tag{
	padding: 15px;
	font-size: 20px;
	background-color: #4157a3;
	color:#ffffff;
	text-align: center;
	font-weight: 700;
}
.price-package .content .box .inner .services-text{
  height:auto;
	padding:30px 15px;
	text-align: center;
}
.price-package .content .box .inner .services-text p {
  font-size:1.2rem;
}

.price-package .content .box .inner .text h3 {
  font-size:2rem;
  color:#222222;
  margin:0;
  padding: 0px 0px 20px;
}
.price-package .content .box .inner .text p{
  font-size:1.3rem;
  color:#222222;
  margin: 0;
  text-align: center;
  padding: 0 0 5px;
}
.price-package .content .box .inner .img img{
	width: 100%;
}
/*=======================End of Pricing Section==========================*/

/*========================Paralax======================================*/

#parallax{
    background-image: url("../imgs/paralax3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

  }
  .text-paralax {
      color:white;
      font-size:4rem;
      font-family:bold;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      position:relative;
      padding: 15% 10%;
    }
/*========================End of Paralax======================================*/

/*========================Contact Section======================================*/
    .contact{
      padding:4rem 0px;
      background:#222222;
    }
    .contact .content{
      -webkit-display:flex;
      display:flex;
    }
    .contact .content .box{
      flex:0 0 50%;
      width:50%;
      padding:15px;
    }
    .contact .content .form input, 
    .contact .content .form textarea{
      height:45px;
      width:100%;
      padding:6px 12;
      margin-bottom:25px;
      background-color:transparent;
      border:1px solid #f5f5f5;
      color:#fff;
    }
    .contact .content .form input:focus,
    .contact .content .form textarea:focus{
      outline:none;
    }
    .contact .content .form input::placeholder,
    .contact .content .form textarea::placeholder{
      color:#fff;
    }
    .contact .content .form button{
      border:none;
      outline:none;
      box-shadow: none;
      height:45px;
      padding:0px 50px;
      border:1px solid transparent;
      background: #c11325;
      color:#fff;
      font-size:0.8rem;
      transition: all .5s ease;
      cursor:pointer;
    }
    .contact .content .form button:hover{
      background-color: transparent;
      color:#fff;
      border-color: #fff;
    }
    .contact .content .text h2{
      font-size:2.2rem;
      margin:0;
      padding:0px 0px 20px;
    }
    .contact .content .text h3{
      font-size:1.5rem;

    }
    .contact .content .text p{
      font-size:0.8rem;
      padding: 0px 0px 30px;
    }
    .contact .content .text .info{
      display:flex;
    }
    .contact .content .text .info ul , .social-media{
      list-style:none;
      padding:0;
      margin: 0;
    }
    .contact .content .text .info li{
      margin-bottom: 15px;
      color:#fff;
      font-size:1.2rem;
      position: relative;
      padding-left: 40px;
    }
    .contact .content .text .info li .icon{
      display:inline-block;
      position: absolute;
      left:0px;
      top:0px;
      font-size: 1.4rem;
      color:#c11325;
    }
    .contact .content .text .social-media li{
      color:#c11325;
      font-size:1.5rem;
      transition:all .5s ease;
    }
    .contact .content .text .social-media li:hover {
      color:#f5f5f5;
    }
    .contact .content .text .copy{
      border-top:1px solid #333333;
      margin-top: 30px;
      padding-top: 20px;
      color:#c5c5c5;
      font-size: 15px;
    }
/*========================End of Contact Section ======================================*/

  
  /*button back to the top*/
.back-to-top {
  position: fixed;
  display: none;
  background:#c11325;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 50px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 15;
  color: #000;
}

.back-to-top:hover {
  background: #00f;
}
.fa-chevron-up {
  margin-top:10px;
}




/*=====================Media Query================================================*/


@media (max-width: 991px)
{
  .banner,
  .banner header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
  .caption p{
    font-size:1.2rem;
  }
  #about p {
    font-size: 1.5rem;
}
}



  @media (max-width: 830px) {
    .col img{
      width: 7.3rem;
    }
    .about-text {
      font-size:1.4rem;
    }
    #about p{
      font-size:1rem;
    }
    .button{
      font-size:1rem;
    }
    .massage-col1 h2, .diet-col2 h2 {
      font-size:1.4rem;
    }
    .massage-col1 p, .diet-col2 p{
      font-size:1.1rem;
    }
    .gallery-title {
      padding:3rem 0;
    }
    .caption p{
      font-size:0.9rem;
      font-weight:bold;
    }
    .caption{
      width:100%;
      margin:0;
    }
    .contact-box{
      grid-template-columns: 1fr;
    }
    .text-paralax {
      color: white;
      font-size: 2rem;
    }
    .price-package .content , .trening .content{
      flex-wrap:wrap;
    }
    .price-package .content .box , .trening .content .box{
      flex:50%;
      padding:5px;
      max-width:100%;
    
    }
  }





  @media  (max-width: 720px) {
    
    header .logo{
      font-size:1.8rem;
    }
    .title h1 {
      font-size: 4rem;
    }

    .trening .content , .price-package .content{
    display:grid;grid-template-columns: 1fr;
    gap:1em;
    }
    .trening .content .box , .price-package .content .box{
      max-width:100%;
    }
    .price-package .content .box .inner {
      height: 100%;
    }
    #about{
      grid-template-columns: 1fr;
      
    }
    .about-text {
        position: absolute;
        bottom:0;
        background:#0000002b;
        padding:0 2rem 0 1rem;
  }
  .banner .imgbox img , .banner:before,.banner .imgbox {
    display:none;
  }
  .services {
    height: 24rem;
}
  .col img{
    width:6rem;
  }
  
  .services-text p{
    font-size:1rem;
  }
  .contact .content .text h2 , .text-paralax {
    font-size: 1.5rem;
  }
  .massage-col1 h2, .diet-col2 h2{
    font-size:1.2rem;
  }

  .massage-col1 p, .diet-col2 p{
    font-size:1rem;
  }
  .gallery-title {
    padding:3rem 0;
  }
  .col img{
    display:none;
  }
  #about{
    grid-template-columns: 1fr;
    
  }
  #about h1{
    font-size:1rem;
  }
  .col img{
    display:none;
  }
  .price-package .content , .trening .content{
    flex-wrap:wrap;
  }
  }






  @media (min-width: 260px) and (max-width: 600px) {
    
    .toggle.active {
      position:relative;
      left:6rem;
      background-color:#ff0000c2;
      width:40px;
      height:40px;
      background-size:20px;
    }
    .banner .imgbox img, .banner:before , .info ul , .banner .imgbox{
      display:none;
    }
    header .logo{
      font-size:1.5rem;
    }
    .text h2 ,.text h3 {
      font-size: 2rem;
    }
    .text p {
      font-size:1.2rem;
    }
    .text a  {
      font-size:1rem;
    }
    
    .title h1 {
      font-size: 3rem;
    }
    .title h3{
      font-size:3rem;
    }
    #smarttext{
      padding:12rem 0 11rem 0;
    }
  
    .services-title{
      padding:2rem 0 0 0;
      font-size:1.4rem;
    }
    .services {
      flex-direction:column;
      
  }
    .col h2{
      font-size:2rem;
      
    }
    .caption{
      margin:0;
    }
    .caption p {
      font-size:1rem;
    }
    #about{
      grid-template-columns: 1fr;
      
    }
    #about h1{
      font-size:1.2rem;
    }
    #about p{
      font-size:1.1rem;
    }
    .button{
      font-size:1rem;
      padding:5px 5px;
    }
    .about-text {
        position: relative;
        bottom:0;
        background:#0000002b;
        padding:0 2rem 0 1rem;
  }
    
    
    .trening .content .box .inner .texty {
      padding: 10px
    }  
    .massage-col1 h2, .diet-col2 h2{
      font-size:1rem;
    }
  
    .massage-col1 p, .diet-col2 p , .services-text p , .trening p{
      font-size:1rem;
    }
    .diet-row, .massage-row{
    display: flex;
    flex-direction: column;
    }
    
  .massage-col2 , .diet-col1 {
    height:300px;
  }
  .gallery-title {
    padding:3rem 0;
    font-size:2rem;
  }
    
    .trening .content , .price-package .content{
    flex-direction: column;
    }
    .trening .content .box , .price-package .content .box{
      max-width:100%;
      
    }
    .price-package .content .box .inner {
      height: 100%;
    }
    .price-package h2 , .trening-title{ 
      font-size:2rem;
    }
    .contact{
      padding:0;
    }
  
  .contact .content .text h2 , .text-paralax {
    font-size: 1.3rem;
  }
  
  .contact .content .text .info ul, .social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .contact .content .form button{
    height:40px;
    padding:10px;
  }
  .col img{
    display:none;
  }

  }


    

 
